{% extends "base.html" %}

{% block content %}

<div class="ds_area">

    <div class="server_header">
        <div class="privat_message_button">
            <a href="/servers/@me"></a>
        </div>

    </div>
    <div class="right_of_serverheader">
        <div class="top_header">

        </div>    
        <div class="pod_topheader">
            <div class="chats_header">
                
            </div>
            <div class="mes_area">
                
            </div>
            <div class="dop_info_area">
                
            </div>
        </div>
        
  
    </div>


</div>





<script>

</script>
{% endblock %}