<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    
    <title>{% block title %}DS2{% endblock %}</title>
  </head>
  <body>  
    <header> 
    </header>
    <main> 
      <div class="ds_area">
        <div class="server_header">
            <div class="privat_message_button">
                <a href="/servers/@me">{{current_user.name[0]}}</a>
            </div>
            <div class="logout_button">
                <a href="/logout"></a>
            </div>
    
    
    
            {%for i in servers%}
                <div class="add_server_button">
                    <a href="/servers/{{i.id}}">{{i.name[0]}}</a>
                </div>
            {%endfor%}
    
    
            <div id="show-modal-btn" class="add_server_button">
                <a>+</a>
            </div>
    
        </div>
        {% block content %} 




        {% endblock %}
    
    
    </div>
    




    {% block javascript %}
        <script>

        </script>    
      <script src="{{ url_for('static', filename='js/base.js') }}"></script>
      <script src="{{ url_for('static', filename='js/baseadap.js') }}"></script>
    {% endblock %}


    </main>
    <footer>
      
    </footer>
  </body> 
</html>
